@import "tailwindcss";

:root {
  --background: #a82121;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  @apply antialiased bg-gray-100 dark:bg-gray-900;
  background: linear-gradient(135deg, #e0f2ff 0%, #dbe7f7 100%);
  color: #171717;
  font-family: var(--font-sans), system-ui, sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    background: linear-gradient(135deg, #0a0a0a 0%, #1f1f1f 100%);
    color: #ededed;
  }
}
